<script type="text/x-handlebars-template">

    <div id="logrefresh" class="form-group">

        {{#if options.label}}
        <label class="{{#if options.labelClass}}{{options.labelClass}}{{/if}} alpaca-control-label logrefreshlabel" for="{{id}}">

            {{{options.label}}}

            <!-- TODO: Add warning about log refresh interval - i.e. 10s / per log file -->
            <!-- <i class="fa fa-fw fa-question-circle input_icon" id="logrefresh_icon" title="Automatically Refresh Logs."> </i> -->

        </label>

        {{/if}} {{#control}}{{/control}} {{#if options.helper}}

        <p class="{{#if options.helperClass}}{{options.helperClass}}{{/if}}">
            <i class="info-sign"> </i>

            {{{options.helper}}}

        </p>

        {{/if}}

    </div>

</script>
