<script type="text/x-handlebars-template">

    <div id="customhighlighterms_input" class="form-group">

        {{#if options.label}}
        <label class="{{#if options.labelClass}}{{options.labelClass}}{{/if}} alpaca-control-label customhighlighterms_inputlabel" for="{{id}}">

            {{{options.label}}}

            <i class="fa fa-fw fa-question-circle input_icon" id="customhighlighterms_input_icon" title="Highlight these terms. (NOTE: Terms must be comma separated and 'Auto Highlight' must be set to TRUE. Instructions for setting custom highlight colors can be found on the Logarr Wiki.)"> </i>

        </label>

        {{/if}} {{#control}}{{/control}} {{#if options.helper}}

        <p class="{{#if options.helperClass}}{{options.helperClass}}{{/if}}">
            <i class="info-sign"> </i>

            {{{options.helper}}}

        </p>

        {{/if}}

    </div>

</script>
