/* LOGARR SYLESHEET */
 /* https://github.com/Monitorr */


/* Body */

body {
    opacity: 1;
    transition: 1s opacity;
    margin-bottom: 6rem;
    border: 1rem solid #252525;
    background-color: #252525;
    -webkit-font-smoothing: antialiased;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Roboto:400', sans-serif;
    color: #FFFFFF;
}

:root {
    font-size: 14px;
}

.flex {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.flex-child {
    margin: 1em;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    max-width: 1900px;
    min-width: 800px;
    border-radius: 15px;
    background-color: #3d3d3d;
    box-shadow: 5px 5px 10px black;
}

/* SCROLL BARS */


body::-webkit-scrollbar {
    width: 10px;
    background-color: #252525;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #252525;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #8E8B8B;
}


/* scroll to top  */

#myBtn {
    width: 5em;
    height: 5em;
    display: none;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 99;
    border: none;
    outline: none;
    background: url(../images/up-arrow.png) no-repeat center center;
    box-shadow: 5px 5px 15px rgb(15, 15, 15);
    background-color: rgba(37, 37, 37, 0.50);
    background-size: 4em;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    z-index: 1000;
}

#myBtn:hover {
    background-color: rgba(104, 2, 51, 0.658);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}
 
.slidebutton {
    font-size: .75rem;
}

table,
th,
td {
    padding-left: 5px;
    padding-right: 5px;
}

tbody {
    background-color: transparent;
    /* cursor: pointer; */
}

tr {
    width: 100%
}

/* Titles */

h1,
h2,
h3 {
    color: #EEEBEC;
    margin-top: 0;
    text-align: center;
}

h4,
h5,
h6,
.container h1 {
    font-size: 42px;
    font-weight: 300;
    color: #EEEBEC;
    margin-bottom: 40px;
}

.container h1 a:hover,
.container h1 a:focus {
    color: #a664b7;
}

.container p {
    line-height: 1.6;
}


/* Top Margin */

.header {
    display: flex;
    width: 100%;
    table-layout: fixed;
    margin-top: 1vw;
}

.Column {
    display: table-cell;
}

#left {
    float: left;
    text-align: left;
    vertical-align: middle;
    width: 40%;
    margin-left: 1em;
    padding-bottom: 0; 
}

.lefttop {
    text-align: left;
    margin-bottom: 1em
}

#timestamp {
    text-align: left;
    vertical-align: middle;
}

#time {
    text-align: left;
    vertical-align: middle;
}

/* CLOCK */

#clock {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 9rem;
    width: 17rem;
    margin: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    justify-content: center;
    background-color: #3d3d3d;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
    text-shadow: 1px 1px black;
    z-index: 2000;
}

#canvas {
    margin: 0 auto;
    margin-bottom: .5rem;
    margin-right: .5rem;
    width: 8rem;
    height: 8rem;
    font-size: 30px;
}

#time {
    display: flex;
    flex-direction: row;
    float: left;
    margin: auto;
    margin-left: 3vw;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    background-color: #3d3d3d;
    border-radius: 8px;
    box-shadow: 3px 3px 3px black;
    font-size: .750rem;
}

.dtg {
    color: #C8C8C8;
    font-size: .95rem;
    font-weight: 600;
    margin: auto;
    text-align: center;
    cursor: default;
}

.date {
    color: #C8C8C8;
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    text-align: center;
    cursor: default;
}

#line {
    cursor: default;
    font-size: .75em;
    padding-bottom: .5em;
}


#logo {
    text-align: center;
    vertical-align: middle;
    width: 20%;
    filter: drop-shadow(.2rem .2rem .2rem black);
    -webkit-filter: drop-shadow(.2rem .2rem .2rem black);
    z-index: 1000;
    cursor: default;
}

#right {
    text-align: right;
    vertical-align: middle;
    width: 40%;
    /* margin-top: 1rem; */
    margin-bottom: auto;
    margin-right: 1em;
}

.righttop {
    text-align: right;
    margin-bottom: .5rem
}

.rightmiddle {
    position: relative;
    text-align: right;
    margin-top: 3.8rem;
    z-index: 6000;
}

#rightbottom {
    display: flex;
    float: right;
    text-align: right;
    margin-top: .75rem;
    height: auto;
}


/* Refresh Switch */

#slidertable {
    vertical-align: middle;
    height: 3em;
    /* margin-left: 1vw; */
    margin-right: .5rem;
    border-radius: 6px;
    background-color: #3d3d3d;
    box-shadow: 3px 3px 3px black;
    z-index: 2000;
}

#textslider {
    margin: auto;
    width: 8rem;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-right: .4em;
    padding-left: 1em;
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    cursor: default;
}

#slider {
    display: flex;
    padding-top: 25%;
    padding-right: 1em;
    padding-left: .5em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 17px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
}

.switch::before {
    content: "";
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #f2f2f2;
    -webkit-transition: .4s;
    transition: .4s;
    background: radial-gradient(circle at .1rem .1rem, white, rgb(20, 20, 20));
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 1px green;
}

input:checked+.slider:before {
    -webkit-transform: translateX(7px);
    -ms-transform: translateX(7px);
    transform: translateX(7px);
}

.slider.round {
    border-radius: 22px;
    width: 100%;
}

.slider.round:before {
    border-radius: 50%;
}


/* Update Button */


.button2 {
    vertical-align: middle;
    margin-right: .5rem;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: #8E8B8B;
    border: .2rem solid rgb(90, 90, 90);
    outline: none;
    transition: all ease 0.3s;
    box-shadow: none !important;
}

.button2:active {
    box-shadow: 0 3px 0 black;
}


/* SEARCH */

#markform {
    position: fixed;
    right: 0;
    margin-right: 1.5rem;
    padding: 1rem;
    margin-top: -.5rem;
    background-color: rgba(37, 37, 37, 0.750);
    border-radius: 6px;
    z-index: 5000;
}

mark {
    background: yellow;
}

mark.current {
    background: orange;
}

.markresults {
    padding: .1rem;
    color: black !important;
    font-style: normal;
    font-weight: 600;
    -moz-border-radius: .1rem;
    -webkit-border-radius: .1rem;
    border-radius: .1rem;
}

.marksearch {
    border: .2rem solid rgb(90, 90, 90);
    background-color: #8E8B8B;
    font-size: .85rem;
}

.search-button {
    /* margin-top: 1.75rem; */
    background-color: #8E8B8B;
    border: .15rem solid rgb(90, 90, 90);
    font-size: .75rem;
}

#text-search2:invalid~span:after {
    position: absolute;
    content: '!';
    margin-top: .1rem;
    font-size: 1.5rem;
    color: red;
}

#text-search2:valid~span:after {
    position: absolute;
    content: '✓';
    margin-top: .5rem;
    color: green;

}

.validity {
    position: absolute;
    margin-left: -7rem;

}

input:invalid {
   border: .2rem solid rgb(90, 90, 90);
}

input:valid {
    border: .2rem solid rgb(90, 90, 90);
}

:not(output):-moz-ui-invalid {
    box-shadow: none;
}

.btn-visible {
    visibility: visible;
}

 .btn-hidden {
    visibility: hidden;
    display: none;
 }


.slide span {
    color: #000000;
    font-weight: 600;
    background-color: #ff6;
    padding: .1rem;
}

.input {
    color: black;
    text-align: left;
    vertical-align: middle;
    height: 2.5em;
    width: 18vw;
    max-width: 17em;
    font-size: 1em;
    padding-left: .5rem;
    margin-right: .5rem;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    border: .2rem solid rgb(90, 90, 90);
}

.input:hover {
    /* border-color: #007bff; */
    border: .2rem solid #007bff;
}

#text-search2:hover ~ #validity {
    display: none !important;
    visibility: hidden !important;
}

#text-search2:focus ~ #validity {
    display: none !important;
    visibility: hidden !important;
}

.input:focus {
    border: .2rem solid #007bff;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    appearance: searchfield-cancel-button;
    -moz-appearance: searchfield-cancel-button;
}

.count {
    display: none;
    visibility: hidden;
    text-align: center;
}

#count {
    margin-right: 10em;
    padding: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .80rem;
    font-weight: 600;
    color: black;
}

.countresults {
    display: inline-block !important;
    visibility: visible !important;
    background-color: rgba(255, 255, 0, 0.75);
    border-radius: .2rem;
    cursor: help;
}

.highlight {
    background-color: red !important;
    color: white !important;
    -moz-border-radius: .1rem;
    /* FF1+ */
    -webkit-border-radius: .1rem;
    /* Saf3-4 */
    border-radius: .1rem;
    /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px .1rem rgba(0, 0, 0, 0.7);
    /* FF3.5+ */
    -webkit-box-shadow: 0 1px .1rem rgba(0, 0, 0, 0.7);
    /* Saf3.0+, Chrome */
    box-shadow: 0 1px .1rem rgba(0, 0, 0, 0.7);
    /* Opera 10.5+, IE 9.0 */
}


.error {
    padding: .1rem;
    background-color: red !important;
    color: white !important;
    font-style: normal;
    font-weight: 600;
    -moz-border-radius: .1rem;
    -webkit-border-radius: .1rem;
    border-radius: .1rem;
}

/* Search Indicator */

#submit:focus {
    outline: none;
}

.button {
    display: inline-block;
    width: 5em;
    height: 2.5rem;
    padding: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border-radius: 5px;
    background-color: #8E8B8B;
    border: .2rem solid rgb(90, 90, 90);
    box-shadow: none !important;
    cursor: pointer;
}

.button:active {
    box-shadow: 0 3px 0 black;
}


.button_loader {
    background-color: transparent;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #969696;
    border-bottom: 4px solid #969696;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}


/**** LOGS ****/


/* SCROLL BARS */

.expand::-webkit-scrollbar {
    width: .75rem;
    background-color: #252525;
}

.expand::-webkit-scrollbar-track {
    /* border-radius: .2rem; */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #252525;
}

.expand::-webkit-scrollbar-thumb {
    border-radius: .2rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #8E8B8B;
} 


/* SLIDING DIVs */

#logcontainer {
    background-color: inherit;
}

#logwrapper {
    background-color: inherit;
}

#logs {
    z-index: 1000;
}

.row2 {
    display: flex;
    border-spacing: 0px;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;
}

.logheader {
    width: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    font-weight: 300;
    color: #EEEBEC;
    text-shadow: 0 0 20px #FF0104;
    cursor: default;
}


.left {
    width: 100%; 
     margin-right: 0;
    margin-left: 0;
    text-align: left;
    vertical-align: bottom;
    padding: 8px;
    font-size: 1em;
    font-weight: 500;
    color: #8C8C8C;
}

.right {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    text-align: right;
    vertical-align: middle;
    padding: 8px;
    color: #8C8C8C;
}

.filesize {
    font-size: 1em;
    color: #8C8C8C;
}

.path {
    font-size: calc(1em - 25%);
    color: #8C8C8C;
}

.slide {
    border: 1px solid black;
    margin: 0px 2em 0px 2em;
    position: relative;
}

#slidebottom {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}

.expanded {
    height: 600px !important;
}

.log-action-button {
    /* margin-top: 1.75rem; */
    margin-top: 1rem;
    background-color: #8E8B8B;
    border: .15rem solid rgb(90, 90, 90);
}

#unlinkform {
    float: left;
    margin-left: 2rem;
}

#downloadform {
    float: left;
}

.hidden {
    visibility: hidden;
    display: none;
}

.auto-style1 {
    font-size: x-small;
}

p {
    text-align: left;
    margin: 5px;
}

input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.expandtoggle {
    display: block;
    position: absolute;
    text-align: center;
    margin: 0;
    right: 2em;
    bottom: .5em;
    padding-top: .5em;
    background-color: rgba(96, 96, 96, 0.750);
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 3em;
    height: 3em;   
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.expandtoggle:hover {
    background-color: rgba(104, 2, 51, 0.400);
    background-size: 3em;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.expandtoggle::before {
    background: url(../images/decrease.png) no-repeat;
    background-size: 2em;
    content : "";
    display: inline-block;
    width: 2em;
    height: 2em;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

.expand {
    height: 43rem;
    overflow: auto;
    transition: height 0.5s;
    background-color: #606060;
    word-wrap: break-word;
    width: auto;
    padding: 0 10px 0 10px;
}

.expandtoggle:checked~.expand {
    height: 17rem;
}

.expandtoggle:checked~.expandtoggle::before {
    content: "";
    background: url(../images/increase.png) no-repeat;
    background-size: 2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

    /* Unlink response modal: */

#responseModal {
    display: none;
    position: fixed;
    top: 0;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1rem;
    color: white;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.900);
    border: 3px solid #680233;
    border-radius: 4px;
    box-shadow: 5px 5px 15px rgb(15, 15, 15);
    overflow-y: auto;
    z-index: 8000;
}

#modalContent {
    /* padding-top: .5rem; */
    padding-bottom: 0;
    align-items: center;
    font-size: 1.2vw;
}

.closemodal {
    position: fixed;
    color: rgb(255, 80, 80);
    left: 27%;
    margin-top: -1rem;
    /* margin-left: -36%; */
    font-size: 2rem;
    font-weight: 700;
}

.closemodal:hover,
.closemodal:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    font-weight: 900;
}

/* Footer */

.footer {
    position: fixed;
    width: 100%;
    bottom: 1rem;
    text-align: center;
    color: #555555;
    font-size: 1.2em;
    text-decoration: none;
    z-index: -1;
}

#version_check {
    cursor: default;
    font-size: 1em;
}

#version_check_auto {
    cursor: default;
}

#version_check:hover {
    text-decoration: none;
    color: #ffffff;
}

a {
    font-size: 1em;
    text-shadow: none;
    font-weight: 300;
    text-decoration: none;
    color: #555555;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

.notification {
    width: 100%;
    text-align: center;
    color: #555555;
    font-size: .75rem;
    Margin-bottom: 2rem;
    cursor: default;
}

/* Progress Bar */

.pace {
    -webkit-pointer-events: none;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: auto;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #680233;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 8px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #680233, 0 0 5px #680233;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #680233;
    border-left-color: #680233;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    99% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    99% {
        transform: rotate(360deg);
    }
}

