<script type="text/x-handlebars-template">

    <div id="autoRollSize_option">

        {{#if options.label}}
        <label class="{{#if options.labelClass}}{{options.labelClass}}{{/if}} alpaca-control-label" for="{{id}}">
            
            {{{options.label}}}

            <i class="fa fa-fw fa-question-circle input_icon" id="autoRollSize_input_icon" title="Auto roll log when filesize is equal or larger than this value."></i>

        </label>
        
        {{/if}} {{#control}}{{/control}}
        {{#if options.helpers}}

        <p class="logs-input-helper">
            <i class="info-sign"></i>
            {{{options.helpers}}}
        </p>

        {{/if}}

    </div>

</script>